# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build:
  
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        dotnet-version: [ '8.x.x', '9.x.x' ]

    steps:
    - name: Print Context
      run: |
          echo "${{ github.repository }} ${{ github.event_name }}"
          if [ "${{ github.event_name }}" = "push" ]; then
            echo "Commit: ${{ github.event.head_commit.message }}"
          fi
         
            
                  
    
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{matrix.dotnet-version}}

        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      id: build
      run: dotnet build --no-restore
      
    - name: Test
      if: ${{ steps.build.conclusion == 'success' }}
      run: dotnet test --no-build --verbosity normal
